﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="PrintBillTrans.aspx.cs" Inherits="DMT_Manager_PrintBillTrans" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script src="vendor/jquery/jquery.min.js"></script>
</head>
<body>
    <form id="form1" runat="server">
       <%=HtmlContent %>
    </form>
</body>
</html>
